
#loginpage{
    display: flex;
    justify-content: center;
    background-image: url("img.jpeg"); 
    width: 100vw;
    min-height: 102vh;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 22%;
    padding-top: 20%;
  }
  
  #loginform input{
    background-color: rgb(236, 241, 236);
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size:large;
    height: 39px;
    width: 256px;
    padding: 4%;
    margin-bottom: 10%;
    border: 1px solid #651616;
    border-radius: 20px;
    align-items: center;
    -ms-flex-align: center;
  }
  
  #loginform #subbutton{
  
    display: inline-block;
    border-radius: 15px;
    background-color: #050938;
    border: none;
    color: rgb(243, 237, 237);
    text-align: center;
    font-size: 22px;
    padding: 9px;
    cursor: pointer;
    position: relative;
    margin: 5px;
    width : 7rem;
    height: 3rem;
  
    left: 25%;
    box-shadow: 0 6px #3511ec;
  }
  #loginform #subbutton:active {
    background-color: #e70f0f;
    box-shadow: 0 5px #f3f2f7;
    transform: translateY(4px);
  }
  
  #loginform #subbutton:hover {background-color: #3511ec}
  
  
  
  
  
  #otphide{
    display: none;
  }
  #otp{
    color: #e70f0f;
    border: #e70f0f;
  }
  #enterotpline{
    color: white;
    margin-bottom: 5%;
    text-align: center;
  }
  #otpbutton{
    display: inline-block;
    border-radius: 15px;
    background-color: #050938;
    border: none;
    color: rgb(243, 237, 237);
    text-align: center;
    font-size: 22px;
    padding: 2px;
    cursor: pointer;
    position: relative;
    margin-top: 14%;
    width : 7rem;
    height: 2.5rem;
    left: 22%;
    box-shadow: 0 6px #3511ec;
  }
   #otpbutton:hover{background-color: #3511ec;
    box-shadow: 0 6px white;
  }
  #otpbutton:active{
    background-color: #e70f0f;
    box-shadow: 0 5px #f3f2f7;
    transform: translateY(4px);
  }
  
  #choice #buttonline
{
  color: rgb(176, 203, 21);
}
#choice #buttonline #button :hover{
  color: brown;
}
#check{
  color: #ff0505;
  font-size: 18px;
  margin-left: 10px;
}